<!DOCTYPE html>
<html>
  <head>
{% include meta.html %}
{% include feed.html %}
{% include gdpr.html %}
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/syntax.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
{% include ads.html %}
    <article class="container post">
      <a href="/">Home</a>

{{ content }}
    </article>

    <section class="container">
      <a href="/" class="mobile-link">Home</a>
    </section>

{% include menu.html %}
{% include google-analytics.html %}
  </body>
</html>
